<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
  	<servlet-name>ClientServlet</servlet-name>
  	<servlet-class>com.example.contacts.server.ContactServiceServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>com.example.contacts.ContactsApp ClientService</servlet-name>
        <servlet-class>com.example.contacts.server.ContactServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
  	<servlet-name>ClientServlet</servlet-name>
  	<url-pattern>contactsapp/client</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.example.contacts.ContactsApp ClientService</servlet-name>
        <url-pattern>/contactsapp/client</url-pattern>
    </servlet-mapping>
    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ContactsApp.html</welcome-file>
  </welcome-file-list>

</web-app>
